.list{
    margin-bottom: 20px;
}

.item {
    font-size: 18px;
    text-align: center;
}

.item:not(:last-child) {
    margin-bottom: 8px;
}

@media only screen and (min-width: 768px) {
    .item {
        font-size: 20px;
  }
}

@media only screen and (min-width: 1024px) {
    .item {
        font-size: 24px;
  }
}